body{
    background-color: rgb(253, 255, 147);
}

/** las clases van con . los id con # y 
cuando no llevan anada son las etiquetas**/

/** TITULOS **/

.TITULO{
    font-size: 30px;
    color: midnightblue;
    font-style:initial;
    text-align: center;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
}

.link{
    color: black;
    text-decoration: none;
}

.tabla{
    display: flex;
    justify-content: center;
    align-items: center;
    color: blueviolet;
}

